
#header {
    font-size: 22px;
    width: 100%;
    display: flex; 
    justify-content: center; 
    color: white; 
    text-shadow: 2px 2px black;
    position: fixed; 
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;

    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation-name: scroll;
    animation-timing-function: ease;
    animation-duration: 3s;
}


.beige{
    background-color: hsla(60, 20%, 99%, 0.9);
    border-radius: 0px 0px 10px 10px;
}


#gardenbtndiv {
    position: relative;
    top: 210px;
    left: -70px;
    width: 100px;  
}

#gardenbtndiv:hover {
    width: 150px;
    top: 170px;
    left: -90px;
}

#whiteout {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}


#gardendiv{
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#maturity-div {
    position: fixed;
    z-index: 4;
    top: 20%;
    left: 5%;
}

#plant-added {
    color: white;
}

.plants {
    transform: translateY(-50%);
    animation-name: skew;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}




.btn{
    color: #fff;
    text-align: center;
    margin-left: auto;
}

.btn:hover{
    font-size: 17px;
}


/* Fonts */

h1 {
    font-family: 'Arima Madurai', cursive;
    color: red;
    margin: auto;
}

h2 {
    
    font-family: 'Caveat', cursive;
}

p {
    font-family: 'Arima Madurai', cursive;
}

h3  {
    font-family: 'Henny Penny', cursive;
}

button {
    font-family: 'Arima Madurai', cursive;
}

a {
    font-family: 'Henny Penny', cursive;
}

label {
    font-family: 'Arima Madurai', cursive;
}

input {
    font-family: 'Arima Madurai', cursive;
}

h3.mealText{
    font-family: 'Caveat', cursive;
}



@keyframes skew {
    /* 0% {transform: skewX(0deg) } */
    25% {transform: skewX(10deg) translateY(-50%) }
    /* 50% {transform: skewX(0deg) } */
    75% {transform: skewX(-10deg) translateY(-50%) }
    /* 100% {transform: skewX(0deg) } */
}

@keyframes scroll {
    0% {width: 0}
    100% {width: 100%}
}